services:
  - postgresql
before_script:
  - psql -c 'create database finansowanie_test;' -U postgres
  - cp config/database.yml.travis config/database.yml
  - RAILS_ENV=test bundle exec rails db:migrate
language: ruby
cache: bundler
rvm:
  - 2.5.3
stages:
  - qa
  - name: deploy
    if: branch = master
jobs:
  include:
    - stage: qa
      script: bundle exec rubocop
    - stage: qa
      script: RAILS_ENV=test bundle exec rails spec
