%h1 Wnioski K 
.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th Nazwa
        %th Koordynator
        %th Organizacja
        %th Data utworzenia wniosku
        %th Stan

    %tbody
      - @applications.each do |application|
        %tr{class: "clickable-row", "data-href" => application_path(application)}
          %td= application.name
          %td= application.coordinator
          - organization = Organization.find(application.organization_id)
          %td= organization.name
          %td= application.created_at.to_formatted_s(:db)
          -if application.pending?
            %td.bg-warning Oczekujący
          -elsif application.accepted?
            %td.bg-success Zaakceptowany
          -elsif application.rejected?
            %td.bg-danger Odrzucony
          -else
            %td

