%p#notice
  = notice

%h1.text-center Wszystkie Wydziały
.table-responsive
  %table.table.table-hover.table-striped
    %thead.table-primary
      %tr
        %th Nazwa wydziału
        %th 
  
    %tbody
      - @faculties.each do |faculty|
        %tr
          %td= faculty.name
          %td.text-right
            %a.fas.fa-eye{:href => faculty_path(faculty)}="&nbsp;".html_safe
            %a.fas.fa-pen{:href => edit_faculty_path(faculty)}="&nbsp;".html_safe
            %a.fas.fa-trash-alt{ :href => faculty_path(faculty), :rel => 'nofollow', "data-method" => 'delete', "data-confirm" =>  'Czy na pewno chcesz usunąć wydział?' }
%a.btn.btn-primary.btn-block.rounded-sm{ :href => new_faculty_path }
  Dodaj wydział
