%div(data-controller='hello')
  %h1(data-target='hello.output')
%h1.text-center Finansowanie
%h2.text-center O aplikacji
%p
  Aplikacja Finansowanie pozwala organizacjom studenckim z grup B oraz C składać
  wnioski kategorii K o dofinansowanie działalności.
