%h1.text-center Wszystkie organizacje
.table-responsive
  %table.table.table-hover.table-striped
    %thead.table-primary
      %tr
        %th.align-middle Nazwa organizacji
        %th.align-middle Data utworzenia
        %th.align-middle Wydział
        %th
  
    %tbody
      - @organizations.each do |organization|
        %tr
          %td= organization.name
          %td= organization.time_of_establishment
          %td= organization.faculty.name
          %td.text-right
            %a.fas.fa-eye{:href => organization_path(organization)}="&nbsp;".html_safe
            %a.fas.fa-pen{:href => edit_organization_path(organization)}="&nbsp;".html_safe
            %a.fas.fa-trash-alt{ :href => organization_path(organization), :rel => 'nofollow', "data-method" => 'delete', "data-confirm" =>  'Czy na pewno chcesz usunąć organizację?' }

%a.btn.btn-primary.btn-block.rounded-sm{ :href => new_organization_path }
  Nowa organizacja
